<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
 <head>
 <title>Taco Cloud</title>
 </head>
 <body>
 <h1>This should be the redirect</h1>
 
 <h3>name your taco</h3>
 <form method="POST" th:action="@{/orders}" th:object="${order}">
	 <h3>Deliver my taco masterpieces to...</h3>
	 <label for="name">Name: </label>
	 <input type="text" th:field="*{name}"/>
	 <br/>
	 
	 <label for="street">Street: </label>
	 <input  id="street"type="text" th:field="*{street}"/>
	 <br/>
	 
	 <label for="city">City: </label>
	 <input  id="city"type="text" th:field="*{city}"/>
	 <br/>
	 
	 <label for="state">State: </label>
	 <input  id="state"type="text" th:field="*{state}"/>
	 <br/>
	 <input type="submit" value="Submit order"/>
 </form>

 </body>
</html>